<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{$Think.config.web.webstatus.title}</title>
    <meta name="applicable-device" content="pc,mobile"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="{$Think.config.web.webstatus.keywords}"/>
    <meta name="description" content="{$Think.config.web.webstatus.description}"/>
    <meta name="renderer" content="webkit"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon"/>
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/tool.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    {:$Think.config.web.header}
</head>
<body>{include file="header" /}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <ul class="nav nav-tabs hbflag">
                        <li role="presentation"><a href="/checkweixin/">微信域名检测工具</a></li>
                        <li role="presentation"><a href="/htaccess2nginx/">htaccess转nginx</a></li>
                        <li role="presentation"><a href="/shortcut/">生成桌面快捷方式</a></li>
                        <li role="presentation"><a href="/px2rem/">rem与px转换工具</a></li>
                        <li role="presentation"><a href="/favicon/">在线制作ico图标</a></li>
                        <li role="presentation"><a href="/createmeta/">生成网页Meta标签</a></li>
                        <li role="presentation" class="active"><a href="/webstatus/">HTTP状态码查询</a></li>
                        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                                    href="javascript:;" role="button"
                                                                    aria-haspopup="true" aria-expanded="false">更多工具<span
                                class="caret"> </span></a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a href="/refresh/">在线定时刷新网址</a></li>
                                <li role="presentation"><a href="/tiaoseban/">在线调色板</a></li>
                                <li role="presentation"><a href="/gzip/">网站Gzip压缩检测</a></li>
                                <li role="presentation"><a href="/checkurl/">网站死链检测</a></li>
                                <li role="presentation"><a href="/whois/"> Whois查询工具</a></li>
                                <li role="presentation"><a href="/chaicp/">ICP网站备案查询</a></li>
                                <li role="presentation"><a href="/chameta/">Meta标签优化分析</a></li>
                                <li role="presentation"><a href="/checkkeyword/">网页关键词密度检测</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="panel">
                        <form id="form1" class="form-horizontal" method="post">
                            <div class="input-group mb5" style="width:85%"><input class="form-control" type="text"
                                                                                  name="url" id="url" value="{$url}"
                                                                                  placeholder="输入网址，如:http://{$_SERVER.HTTP_HOST}"/><span
                                    class="input-group-btn"><button class="btn btn-success" type="submit"
                                                                    id="get_remote">查询HTTP状态</button></span></div>
                            {if $ip}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table class="table table-hover table-bordered table-striped">
                                        <caption><strong>页面 <font color="#0099ff">{$url}</font> 检测结果</strong></caption>
                                        <tbody>
                                        <tr>
                                            <td style="width:150px">服务器IP</td>
                                            <td><a href="/ip/{$ip}.html" target="_blank">{$ip}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:150px">返回状态码</td>
                                            <td>{$code}</td>
                                        </tr>
                                        <tr>
                                            <td style="width:150px">网页返回HEAD信息</td>
                                            <td>{:$head}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            {elseif $url}
                            <div class="form-group"><div class="col-sm-12 text-left"><h3><strong style="color:#c00">网页状态检测失败,可能是域名未解析或网站无法访问</strong></h3></div></div>
                            {/if}
                        </form>
                    </div>
                </div>
                <div class="alert alert alert-success alert-dismissible"><h4>HTTP状态查询工具</h4>
                    <p>常见的HTTP状态码</p>
                    <p>200 - 服务器成功返回网页 404 - 请求的网页不存在 503 - 服务不可用 </p>
                    <p>301 redirect: 301 代表永久性转移(Permanently Moved)</p>
                    <p>302 redirect: 302 代表暂时性转移(Temporarily Moved )。</p>
                    <p><a href="/pagecode/" target="_blank">查看所有HTTP状态码解释</a></p>
                </div>
                <div class="accordion-group"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/script/tool.js" type="text/javascript"></script>
{include file="nav" /}
{include file="link" /}
{include file="footer" /}
</body>
</html>