<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{$Think.config.web.whois.title}</title>
    <meta name="applicable-device" content="pc,mobile"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="{$Think.config.web.whois.keywords}"/>
    <meta name="description" content="{$Think.config.web.whois.description}"/>
    <meta name="renderer" content="webkit"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon"/>
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/tool.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    {:$Think.config.web.header}
</head>
<body>{include file="header" /}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <ul class="nav nav-tabs hbflag">
                        <li role="presentation"><a href="/checkweixin/">微信域名检测工具</a></li>
                        <li role="presentation"><a href="/htaccess2nginx/">htaccess转nginx</a></li>
                        <li role="presentation"><a href="/shortcut/">生成桌面快捷方式</a></li>
                        <li role="presentation"><a href="/px2rem/">rem与px转换工具</a></li>
                        <li role="presentation"><a href="/favicon/">在线制作ico图标</a></li>
                        <li role="presentation"><a href="/createmeta/">生成网页Meta标签</a></li>
                        <li role="presentation" class="active"><a href="/whois/"> Whois查询工具</a></li>
                        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                                    href="javascript:;" role="button"
                                                                    aria-haspopup="true" aria-expanded="false">更多工具<span
                                class="caret"> </span></a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a href="/refresh/">在线定时刷新网址</a></li>
                                <li role="presentation"><a href="/tiaoseban/">在线调色板</a></li>
                                <li role="presentation"><a href="/gzip/">网站Gzip压缩检测</a></li>
                                <li role="presentation"><a href="/checkurl/">网站死链检测</a></li>
                                <li role="presentation"><a href="/chaicp/">ICP网站备案查询</a></li>
                                <li role="presentation"><a href="/chameta/">Meta标签优化分析</a></li>
                                <li role="presentation"><a href="/checkkeyword/">网页关键词密度检测</a></li>
                                <li role="presentation"><a href="/webstatus/">HTTP状态码查询</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="panel">
                        <form id="form1" class="form-horizontal" method="post">
                            <div class="input-group mb5" style="width:85%"><input class="form-control" type="text"
                                                                                  name="whois" id="whois" value="{$url}"
                                                                                  placeholder="输入域名，如:{$_SERVER.HTTP_HOST}"/><span
                                    class="input-group-btn"><button class="btn btn-success" type="submit" id="get_remote">查询WHOIS</button></span>
                            </div>


                            {if $domain}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        WHOIS查询结果，域名 <span class="greentag">{$url}</span> WHOIS信息
                                    </h3>
                                </div>
                                <table class="table table-bordered table-striped">
                                    {foreach $domain as $name=>$value}
                                    <tr><td><span class="lx_name">{$name}</span><span class="lx_value">{if is_array($value)}{foreach $value as $value2}{$value2}<br/>{/foreach}{else/}{$value}{/if}</span></td></tr>
                                    {/foreach}
                                </table>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12"><pre style="display: block;"><code id="result" class="hljs"></code></pre>
                                </div>
                            </div>
                            {/if}

                            <div class="form-group" style="margin-top:50px">
                                <div class="col-sm-12"><p>最近查询： </p></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="alert alert alert-success alert-dismissible"><h4>Whois查询</h4>
                    <p>Whois
                        简单来说，就是一个用来查询域名是否已经被注册，以及注册域名的详细信息的数据库（如域名所有人、域名注册商、域名注册日期和过期日期等）。通过域名Whois服务器查询，可以查询域名归属者联系方式，以及注册和到期时间,可以用
                        {$_SERVER.HTTP_HOST}/whois 访问！</p>

                    <p>关于域名到期删除规则实施的解释：</p>

                    <p>国际域名：</p>

                    <p>(1) 到期当天暂停解析，如果在72小时未续费，则修改域名DNS指向广告页面（停放）。域名到期后30-45天为域名保留期（不同注册商政策规定时间不同）</p>

                    <p>(2) 过了保留期域名将进入赎回期（REDEMPTIONPERIOD，为期30天）</p>

                    <p>(3) 过了赎回期域名将进入为期5天左右的删除期，删除期过后域名开放，任何人可注。</p>

                    <p>关于域名状态的解释：点击查看</p>

                    <p>国内域名：</p>

                    <p>(1) 到期当天暂停解析，如果在72小时未续费，则修改域名DNS指向广告页面（停放）。35天内，可以自动续费。</p>

                    <p>(2) 过期后36－48天，将进入13天的高价赎回期，此期间域名无法管理。</p>

                    <p>(3) 过期后48天后仍未续费的，域名将随时被删除。</p></div>
                <div class="accordion-group"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/script/tool.js" type="text/javascript"></script>
<script src="/static/script/hightout.js"></script>
{if $url}<script>hightout({:$whois});</script>{/if}
{include file="nav" /}
{include file="footer" /}
</body>
</html>